{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="hero-image-container"> 
    <img src="{% static 'images/hero-image.jpg' %}" alt="hero image" class="hero-image">
    <div class="hero-text">
        <p class ="handmade">HANDMADE IN VIENNA</p>
        <h1>Welcome!</h1>
        <p>
            Let your artistic creativity flow with the art of polymer clay!
        </p>
        <a href="{% url 'workshops' %}" class="workshop-button">
            Our Workshops
        </a>
    </div>
</div>
{% endblock %}
