{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="hero-image-container"> 
    <img src="{% static 'images/default.jpg' %}" alt="hero image" class="hero-image">
    <div class="hero-text">
        <p>HANDMADE IN VIENNA</p>
        <h1>Welcome!</h1>
        <p>
            Let your artistic creativity flow with the art of polymer clay. 
        </p>
        <a href="{% url 'workshops' %}" class="workshop-button">
            Explore our Workshops!
        </a>
    </div>
</div>

<!-- index.html content ends here -->

<!-- footer content here -->
{% endblock %}

{% block copyright %}
Copyright 2025 Gabriela F. Paredes
{% endblock %}