{% extends "base.html" %}
{% load static %}
{% url 'account_login' as login_url %}
{% url 'update_booking' as update_booking_url %}
{% url 'delete_booking' as delete_booking_url %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Create New Bookings -->
 <div class="container">
  <div class="row justify-content-center bg-customize">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <div class="card-body">
        <h3 class ="text-center mt-3">Clay Around - Book a workshop here!</h3>
        <form method="post" class="mt-3">
            <div>
                {{ booking_form | crispy }}
                {% csrf_token %}
            </div>
            <div class="col-md-auto text-center">
                <button type="submit" class="btn book-workshop">Book Your Spot!
                </button>
            </div> 
        </form>
      </div>
    </div>
  </div>
 </div>

<!-- Visualize your Bookings -->
<!-- 
Important: Despite significant customization, the underlying HTML structure is derived
from the project DjangoDogGroomer from Peter Mcloughlin 
-->
<div class="container">
    <div class="row justify-content-center mt-5">
        <div>
            <h2>My Bookings</h2>
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Workshop</th>
                        <th scope="col">Participants</th>
                        <th scope="col">Appointment date</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.workshop.name }}</td>
                        <td>{{ booking.participants }} attendee(s)</td>
                        <td>{{ booking.appointment_date }} <br><small class="text-muted">{{booking.appointment_time}}</small> </td>
                        <td>
                            {% now "Ymd" as today %}
                            {% if booking.appointment_date|date:"Ymd" == today %}
                                <span class="btn no-hand-cursor today-workshop">Today's Booking</span>
                            {% elif booking.appointment_date|date:"Ymd" > today %}
                                <a href="{% url 'update_booking' booking.id %}" class="btn update-workshop">Update Booking</a>
                            {% else %} 
                                <span class="btn no-hand-cursor past-workshop">Past Booking</span>
                            {% endif %}
                        </td>
                        <td>
                            {% now "Ymd" as today %}
                            {% if booking.appointment_date|date:"Ymd" > today %}
                                <a href="{% url 'delete_booking' booking.id %}" class="btn delete-workshop">Delete Booking</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="5">Time to book a workshop! See our availability above ✨ </td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="non-fixed-footer mt-auto py-3 main-bg">
    <p class="m-0 text-center">&copy; 2025 Gabriela F. Paredes
    </p>
    <p class="m-0 text-center">Let's keep in touch:
        <a href="https://facebook.com/" target="_blank" aria-label="Visit our Facebook page">
            <i class="fab fa-facebook-square ms-3"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" aria-label="Visit our instagram page">
            <i class="fab fa-instagram-square ms-3"></i>
        </a>
        <a href="https://www.youtube.com/" target="_blank" aria-label="Visit our Youtube page">
            <i class="fab fa-youtube-square ms-3"></i>
        </a>
    </p>
</footer>
{% endblock %}

{% block js %}
 <script>
    /* jshint esversion: 11 */
    // ensure appointment booking date is not before "tomorrow"
    let now = new Date();
    now.setDate(now.getDate() + 1);
    let minDate = now.toISOString().substring(0,10);
    let appointmentDate = document.getElementById("id_appointment_date");
    appointmentDate.min = minDate;

    // ensure participants min is 1 and max is 10
    let participants = document.getElementById("id_participants");
    participants.min = "1";
    participants.max = "10";
</script>
 {% endblock %}