{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- 
Important: Despite significant customization, the underlying HTML structure is derived
from the project DjangoDogGroomer from Peter Mcloughlin 
-->
 <div class="container">
  <div class="row justify-content-center bg-customize">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <div class="card-body">
        <p class="fw-bold text-center mt-4 fs-5">Need to make changes? Update your booking below</p>
        <form method="post">
          {{ booking_form | crispy }}
          {% csrf_token %}
          <button id="submitButton" type="submit" class="btn update-workshop fw-bold">
            Update Booking
          </button>
           <a href="{% url 'bookings' %}" class="btn today-workshop fw-bold"> My Bookings</a>
        </form>
      </div>
    </div>
  </div>
 </div>
 {% endblock %}

 {% block footer %}
<footer class="non-fixed-footer mt-auto py-3 main-bg">
    <p class="m-0 text-center">&copy; 2025 Gabriela F. Paredes
    </p>
    <p class="m-0 text-center">Let's keep in touch:
        <a href="https://facebook.com/" target="_blank" aria-label="Visit our Facebook page">
            <i class="fab fa-facebook-square ms-3"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" aria-label="Visit our instagram page">
            <i class="fab fa-instagram-square ms-3"></i>
        </a>
        <a href="https://www.youtube.com/" target="_blank" aria-label="Visit our Youtube page">
            <i class="fab fa-youtube-square ms-3"></i>
        </a>
    </p>
</footer>
{% endblock %}

{% block js %}
 <script>
    /* jshint esversion: 11 */
    // ensure appointment booking date is not before "tomorrow"
    let now = new Date();
    now.setDate(now.getDate() + 1);
    let minDate = now.toISOString().substring(0,10);
    let appointmentDate = document.getElementById("id_appointment_date");
    appointmentDate.min = minDate;

    // ensure participants min is 1 and max is 10
    let participants = document.getElementById("id_participants");
    participants.min = "1";
    participants.max = "10";
</script>
 {% endblock %}