{% extends "base.html" %}
{% load static %}
{% url 'account_login' as login_url %}
{% load crispy_forms_tags %}

{% block content %}
 <div class="container">
  <div class="row shadow-sm p-3 mb-5 bg-light rounded justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <div class="card-body justify-content-center">
        {% if user.is_authenticated %}      
        <h3 id="CREATE">Hi {{ user.username }}!</h3>
        <h4>Ready to Clay Around?</h4>
        <form method="post" class="mt-4 d-grid gap-3">
            <div>
                {{ booking_form | crispy }}
                {% csrf_token %}
            </div>
            <div class="col-md-auto">
                <button id="CREATE" type="submit"
                class="btn btn-success mt-3"
                style="border: 3px dashed #28a745; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); border-radius: 10px;">Book Your Spot!
                </button>
            </div> 
        </form>
        {% else %}
        <p>Please <a href="{% url 'account_login' %}" class="btn-lg rounded-pill">login</a> to make an appointment with us.</p>
        {% endif %}
      </div>
    </div>
  </div>
 </div>

 {% endblock %}