{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- workshop_list.html content starts here -->
<div class="container-fluid" id ="workhops-content-box">
    <div class="row" >
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for workshop in workshop_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body workshop-list">
                            <div class="image-container">
                                {% if "placeholder" in workshop.image.url %}
                                <a href="{% url 'workshop_detail' workshop.id %}" class="workshop-link">
                                    <img class="card-img-top border border-dark more-rounded" src="{% static 'images/nobody.jpg' %}" alt="placeholder image">
                                </a>
                                {% else %}
                                <a href="{% url 'workshop_detail' workshop.id %}" class="workshop-link">
                                    <img class="card-img-top border border-dark more-rounded" src=" {{ workshop.image.url }}" alt="{{ workshop.name }}">
                                </a>
                                {% endif %}
                                <div class="image-flash">
                                    <a href="{% url 'workshop_detail' workshop.id %}" class="workshop-link">
                                        <h2 class="card-title">{{ workshop.name }}</h2>
                                    </a>
                                </div>
                            </div>
                            <div>{{ workshop.excerpt | safe }}</div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- workshop_list.html content ends here -->
