body {
    background-color: #1b5ad6;
}

/* Logo  */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.4rem;
    margin-bottom: 1rem;
}

.brand {
    font-family: Roboto, sans-serif;
    font-size: 2.65rem;
    font-weight: 700;
    color: #1d1d1a;
}

.red-o {
    color: #ee6d3a;
    font-size: 5rem;
}

/* .thin {
    font-weight: 300;
} */

/* Navbar */

.nav-link {
    font-weight: 600;
    padding-right: 18px !important;
    font-size: 1.3rem;
}

.navbar-nav .nav-link.active, 
.navbar-nav .nav-link:hover {
    color: #ee6d3a !important;
}

.navbar-toggler{
    border-color: #ee6d3a !important;
    margin-left: auto;
}

.navbar-collapse {
    justify-content: center;
    display:flex;
    flex-direction: column;    
    align-items: center;
}

/* Django messages */

.not-authenticated {
    margin-bottom: 0 !important;
    padding-right: 30px !important;
    font-style: italic;
}

.row {
    margin-top: 10px;
}

.alert  {
    background-color: #fcded0 !important;
    border-color: #f0fdf4 !important;
    display:flex;
    justify-content: center;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* Hero image */

.hero-image-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero-text {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 80%;
    padding: 2rem;
    border-radius: 25px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text .handmade {
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 0.07px;
    margin-bottom: 2rem;
}

.hero-text h1 {
    font-size: 2.8rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    color: #1f0d06;
}

.hero-text p {
    font-size: 1.2rem;
    color: #2e2c2c;
    margin-bottom: 2.5rem;
}

.workshop-button {
    background-color: #ee6d3a;
    color: white !important;
    padding: 0.79rem;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    text-decoration: none;
    margin-top: 1rem;
    text-transform: uppercase !important;
}

.workshop-button:hover {
    background-color: #6366f1;
}

/* Footer */

.footer {
    /* position: fixed; */
    display: flex;
    justify-content: center;
    gap: 2.4rem;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    align-items: center;
}

.footer a {
    color: #1f0d06;
    text-decoration: none;
    font-size: 1.1rem;
}

.footer a:hover {
    color:  #ee6d3a;
}

/* About page  */

.banner-image-container {
    width: 100%;
    height: auto;
    margin-bottom: 2.2rem;
    display: flex;
    justify-content: center;
}

.banner-image {
    width: 100%;
    height: auto;
}

.about-content-box {
    background-color: #ffebde;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-text-content {
    padding: 1rem;
}

.about-title {
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    padding: 1rem;
}

.profile-image {
    width: 60%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

/* Contact page */

#contact {
    position: relative;
    background: url("../images/IMG_7548.JPG") no-repeat center center/cover;
    /* background-size: 70% auto; */
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center
}

#contact h2 {
    background-color: rgba(243, 239, 222, 0.5);
    padding: 0.5rem;
}

#contact p {
    margin-top: 3rem;
    background-color: rgba(243, 239, 222, 0.5);
    padding: 0.5rem;
}

#contact form {
    background-color: rgba(243, 239, 222, 0.5);
    padding: 0.5rem;
}

/* Sign In, Sign Out and Sign Up pages */

#sign-in,
#sign-out, 
#sign-up {
    height: calc(72vh - 4rem);
    position: relative;
    background: url("../images/IMG_1932.JPG") no-repeat center center/cover;
    background-color: rgb(202, 90, 4);
    justify-content: center;
    align-items: center;
}

 #sign-in h2,
 #sign-out h2,
 #sign-up h2 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    width: 40%;
    background-color: rgba(243, 239, 222, 0.85);
    padding: 0.5rem;
}

#sign-in .sign-in-text,
#sign-out .sign-out-text,
#sign-up .sign-up-text {
    margin-top: 1.5rem;
    background-color: rgba(243, 239, 222, 0.85);
    padding: 0.3rem;
    margin-bottom: 0px;
}

#sign-in form,
#sign-up form {
    background-color: rgba(243, 239, 222, 0.7);
    padding: 0.5rem;
}

#sign-up h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Workshops page  */

#workhops-content-box {
    background-color: #f5d1b8;    
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-fluid .row {
    margin-top: 0px !important;
}

.card-body {
    margin-top: 0px !important;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.4rem;
    border-radius: 10px;
    height: 530px;
}

.image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.4rem;
    border-radius: 10px;
}

.workshop-link {
    color: black;
    text-decoration: none;
}

.more-rounded {
    border-width: 2.5px !important;
    border-radius: 10px;
    border-color: #36160a !important;
    box-shadow: 3px 3px 7px #f4e1da;
}

.more-rounded:hover {
    transform: scale(1.1);
}

/* Workshop details page */

.banner-workshop-image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-title-overlay {
    position: absolute;
    min-width: 30%;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 8px;
    padding: 0.3rem;
    border-radius: 10px;
    font-size: 1.5rem;
}

.workshop-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.workshop-content-box {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: #ffebde;
    align-items: center;
    justify-content: center;
}

.workshop-text-content {
    width: 95%;
    background-color: rgba(255, 255, 255, 0.8);
}

.workshop-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

/* Bookings page */

.bg-customize {
    border-radius: 20px;
    background: url("../images/IMG_7548.JPG") no-repeat center center/cover;
}

.table {
    width: 100%;
}

.table thead {
    display: none;
}

.table tbody td {
    display: block;
    border: none;
    padding: 0.25rem 0;
    position: relative;
    text-align: left;
}

.book-workshop {
    border: 3px dashed #e05f1a;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color:  #f9f996;
    font-weight: bold;
    font-size: 1.05rem;
}

.book-workshop:hover{   
    background-color: #f8a84d;
    color: #060606;
}

.update-workshop {
    border: 1px solid #05230c;
    border-radius: 20px;
    background-color: #dfffbd;
}

.past-workshop {
    border: 1px solid #05230c;
    border-radius: 20px;
    background-color: #cacaca;
}

.delete-workshop {
    border: 1px solid #05230c;
    border-radius: 20px;
    background-color: #eed4d6;
}

.today-workshop {
    border: 1px solid #05230c;
    border-radius: 20px;
    background-color: #75d3e1;
    font-weight: bold;
}

/* Media Query: Tablets and Up */
@media screen and (min-width:768px) {
    
    .about-content-box {
        flex-direction: row;
        justify-content: center;
    }
    
    .about-text-content {
        width: 50%;
    }
    
    .about-title {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
    
    .profile-image {
        width: 35%;
        margin-left: 2rem;
    }

    #sign-in h2 {
        width: 30%;
    }

    .card-body {
        margin-top: 30px !important;
        margin-bottom: 30px !important;
        height: 560px;
    }

    .card-title {
        font-size: 1rem;
    }

    .about-content-box {
        flex-direction: row;
        justify-content: center;
    }

    .banner-title-overlay {
        padding: 1.5rem;
        font-size: 2rem;
    }

    .workshop-text-content {
        width: 80%;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .workshop-image {
        width: 50%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 1.5rem;
        margin-left: 1.5rem;
    }

    .table thead {
        display: table-header-group;
    }
    
    .table tbody td {
        display: table-cell;
    }
}

/* Media Query: Laptops and Up */
@media screen and (min-width:992px) {
    
    .about-text-content {
        margin-bottom: 1.5rem;
    } 
       
    .profile-image {
        width: 30%;
    }

    #sign-in h2 {
        width: 20%;
    }

    #sign-out h2,
    #sign-out .sign-out-text {
    width: 40%;
    }

    .card-body {
        margin-top: 8px !important;
        margin-bottom: 8px !important;
        height: 500px;
    }

    .card-title {
        font-size: 2rem;
    }

    .about-text-content {
        margin-bottom: 1.5rem;
    } 

    .banner-title-overlay {
        padding: 1.5rem;
        font-size: 2.5rem;
    }

    .workshop-content-box {
        flex-direction: row;
        background-color: #ffebde;
        align-items: center;
    }
    
    .workshop-text-content {
        padding: 1rem;
        width: 50%;
    }
    
    .workshop-image {
        width: 40%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 1.5rem;
    }
}

/* Media query: Desktops and Up */
@media screen and (min-width:1200px) {
        .profile-image {
        width: 25%;
    }
}



.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}