{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container" id ="contact">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-2">
            <h2 class = "mt-1 mb-3">Let's get in touch!</h2>
            <p>Are you interested in collaborating on workshop projects or
                bouncing around fun clay-related ideas? I'd be thrilled to connect.
                Please fill out the form and let's get started!</p>
            <form method="post">
                {{ contact_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-warning border border-dark" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}