{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class = "banner-image-container">
    <img src="{% static 'images/banner-image.png' %}" alt="banner image" class="banner-image">
</div>
<section>
    <div class="container">
        <div class="about-content-box">
            <div class="about-text-content">
                <h2 class = "about-title">{{ about.title }}</h2>
                <article>{{ about.description | safe }}</article>
            </div>
            {% if "placeholder" in about.image.url %}
            <img class="profile-image" src="{% static 'images/nobody.jpg' %}" alt="placeholder profile image">
            {% else %}
            <img class="profile-image" src=" {{ about.image.url }}" alt="{{ about.title }}">
            {% endif %}
        </div>
    </div>    
</section>
{% endblock content %}

