{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class = banner-image-container>
    <img src="{% static 'images/hero-image2.png' %}" alt="banner image" class="banner-image">
</div>
<section class="about-page">
    <div class="container">
        <div class="about-content-box">
            <div class="about-text-content">
                <h2 class = "about-title">{{ about.title }}</h2>
                <p class ="about-description">{{ about.description | safe }}</p>
            </div>
            {% if "placeholder" in about.image.url %}
            <img class="profile-image" src="{% static 'images/nobody.jpg' %}" alt="placeholder image">
            {% else %}
            <img class="profile-image" src=" {{ about.image.url }}" alt="{{ about.title }}">
            {% endif %}
        </div>
        <a href="{% url 'workshops' %}" class="workshop-button-about">Our Workshops</a>
    </div>    
</section>
    <a href="{% url 'workshops' %}" class="workshop-button-about">Our Workshops</a>
{% endblock content %}